<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
    <SenparcConfig>
        <Id>1</Id>
        <Name>Client</Name>
        <Host><![CDATA[.\]]></Host>
        <DataBase><![CDATA[SCF]]></DataBase>
        <UserName><![CDATA[sa]]></UserName>
        <Password><![CDATA[123]]></Password>
        <Provider><![CDATA[System.Data.SqlClient]]></Provider>
        <ConnectionString><![CDATA[data source=.\;initial catalog=SCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionString>

        <!--本地数据库-->
        <ConnectionStringFull><![CDATA[Server=.\;Database=SCF;Trusted_Connection=True;integrated security=True;]]></ConnectionStringFull>
        <ApplicationPath><![CDATA[/]]></ApplicationPath>
    </SenparcConfig>
</SenparcConfigs>