@model Senparc.Core.Models.VD.Error_ExceptionVD
@{
    ViewBag.Title = "发生错误";
    Layout = "~/Areas/Admin/Views/Shared/_Empty.cshtml";
}
<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">Sorry! </div>
            <p class="lead m0 mb-lg">@Model.Message</p>
        </div>
        <ul class="list-inline text-center text-sm mb-xl">

            <li>
                <a class="text-muted link-unstyled" href="javascript: history.go(-1);">返回上一页</a>
            </li>
            <li class="text-muted">|</li>
            <li>
                <a class="text-muted link-unstyled" asp-controller="Home" asp-action="Index">返回开发者中心</a>
            </li>
        </ul>
        <div class="p-lg text-center">
            <span>©</span>
            <span>@DateTime.Now.Year</span>
            <span>-</span>
            <span>SCF</span>
            <br />
            <span>技术支持：<a href="http://scf.senparc.com" class="text-primary link-unstyled" title="苏州盛派网络科技有限公司">苏州盛派网络科技有限公司</a></span>
        </div>
    </div>
</div>
