@model Senparc.Mvc.Models.VD.Home_IndexVD
@{
    Layout = null;
    ViewBag.Title = "SCF";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SCF</title>
</head>
<body>
    
</body>
</html>

