@model Senparc.Areas.User.Models.VD.Account_BuyVD
@{
    ViewBag.Title = "积分充值";
}
@section scripts{
    <environment include="Development">
        <script src="~/js/User/Account/Buy.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/Account/Buy.min.js"></script>
    </environment>
 
}
<div class="row">
    <div class="col-md-12">
        <div class="panel b">
            <div class="panel-body">
                <div class="form-group mr-sm">

                    <label>支付方式：</label>
                    <em class="fa fa-wechat text-green mr"></em>微信支付
                    @*<select class="input-sm b disabled" v-modal="payType" disabled title="微信支付">
                            <option value="0">微信支付</option>
                        </select>*@
                </div>
                <div class="form-group">
                    <label>支付金额：</label>
                    <input type="number" class="input-sm b wd-lg" step="0.01" v-model.number="payMoney" placeholder="输入金额（元）" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-green btn-sm" type="button" id="payBtn" @@click="pay_getQRcode($event)" data-loading-text="正在生成支付二维码...">立即支付</button>
            </div>
        </div>
    </div>
</div>
@section modal{
    <img src="~/images/User/Avatar/SCF.png" class="hidden" id="SCFLogo" />
    <div class="modal fade" id="QRPayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">支付二维码</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="createQRCode" class="text-center"></div>
                    <span>等待支付...</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
}



