@model Senparc.Areas.User.Models.VD.Account_IndexVD
@{
    ViewBag.Title = "账号管理";
}
@section scripts{
    <environment include="Development">
        <script src="~/js/User/Account/Index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/Account/Index.min.js"></script>
    </environment>
    <script>
        Parsley.on('form:success', function () {
            var that = this.$element;
            if (!that.data('isformsubmit')) {
                var id = that.data("id");
                switch (id) {
                    case "psdForm"://修改密码
                        vm.password_edit(that);
                        break;
                    //case "officialAccountForm_" + vm.currentOAId:
                    //    vm.officialAccount_edit(that);
                    //    break;
                    default:
                        break;
                }
            }
        });
       
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <form method="post" data-isformsubmit="true" asp-controller="Account" asp-action="Basic" enctype="multipart/form-data" data-parsley-validate="">
                <div class="panel-body">
                    <div class="form-group">
                        <label>用户头像</label>
                        <input class="form-control filestyle" type="file" name="file" accept="image/*" data-input="false" data-classbutton="btn btn-default" data-classinput="form-control inline" data-buttontext="上传头像" data-iconname="fa fa-upload mr">
                    </div>
                    <div class="form-group">
                        <label class="control-label">真实姓名</label>
                        <input class="form-control wd-lg" type="text" value="@Model.FullAccount.RealName" name="RealName" placeholder="请输入真实姓名" data-parsley-minlength="2">
                        <span class="help-block m-b-none pl-md"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">邮箱</label>
                        <input class="form-control wd-lg" type="email" value="@Model.FullAccount.Email" name="Email" required placeholder="请输入邮箱" data-parsley-error-message="请输入正确的邮箱" data-parsley-type="email">
                        <span class="help-block m-b-none pl-md"></span>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="panel-footer">
                    <button class="btn btn-green" type="submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<div class="row">
        <!--内容左侧目录-->
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bg-gray-lighter text-bold">目录</div>
                <div class="list-group">
                    <a class="list-group-item" href="#tabSetting1" data-toggle="tab"><em class="icon-info mr"></em>基本信息</a>

                    <a class="list-group-item" href="#tabSetting2" data-toggle="tab"><em class="icon-key mr"></em>修改密码</a>
                </div>
            </div>
        </div>
        <!--内容右侧-->
        <div class="col-md-9">
            <div class="tab-content p0 b0">
                <!--基本信息-->
                <div class="tab-pane active" id="tabSetting1">
                    <form method="post" data-isformsubmit="true" asp-controller="Account" asp-action="Basic" enctype="multipart/form-data" data-parsley-validate="">
                        <!-- START panel-->
                        <div class="panel b">
                            <div class="panel-heading bg-gray-lighter text-bold">基本信息</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>用户头像</label>
                                    <input class="form-control filestyle" type="file" name="file" accept="image/*" data-input="false" data-classbutton="btn btn-default" data-classinput="form-control inline" data-buttontext="上传头像" data-iconname="fa fa-upload mr">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">真实姓名</label>
                                    <input class="form-control wd-lg" type="text" value="@Model.FullAccount.RealName" name="RealName" placeholder="请输入真实姓名" data-parsley-minlength="2">
                                    <span class="help-block m-b-none pl-md"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">邮箱</label>
                                    <input class="form-control wd-lg" type="email" value="@Model.FullAccount.Email" name="Email" required placeholder="请输入邮箱" data-parsley-error-message="请输入正确的邮箱" data-parsley-type="email">
                                    <span class="help-block m-b-none pl-md"></span>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-green" type="submit">保存</button>
                            </div>
                        </div>
                        <!-- END panel-->
                    </form>
                </div>
                <!--账号密码-->
                <div class="tab-pane" id="tabSetting2">
                        <form method="post" data-isformsubmit="false" data-id="psdForm" data-parsley-validate="">
                            <!-- START panel-->
                            <div class="panel b">
                                <div class="panel-heading bg-gray-lighter text-bold">修改密码</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">旧密码</label>
                                        <input class="form-control wd-xl" type="password" v-model="oldPassword" autocomplete="off" name="oldPassword" required placeholder="请输入旧密码" data-parsley-error-message="请输入密码">
                                        <span class="help-block m-b-none pl-md"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">新密码</label>
                                        <input class="form-control wd-xl" id="id-password" v-model="newPassword" type="password" autocomplete="off" name="password" required placeholder="请输入新密码" data-parsley-error-message="请输入新密码">
                                        <span class="help-block m-b-none pl-md"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">确认新密码</label>
                                        <input class="form-control wd-xl" type="password" v-model="confirmNewPassword" name="confirmPassword" required data-parsley-equalto="#id-password" placeholder="确认密码" data-parsley-error-message="您输入的密码与新密码不一致">
                                        <span class="help-block m-b-none pl-md"></span>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-green" type="submit" data-loading-text="保存中...">确认修改</button>
                                </div>
                            </div>
                            <!-- END panel-->
                        </form>
                    </div>
            </div>
        </div>
    </div>*@
<!-- END row-->



