@page
@model Senparc.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "管理员后台首页";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/element-ui_2.13.2/element.css" rel="stylesheet" />
    <link href="~/css/Admin/Shared/_Layout.css" rel="stylesheet" />
    <title>管理员后台</title>
</head>
<body>
    <div id="app">
        <div class="app-wrapper">
            <el-container>
                <el-aside>
                    <el-scrollbar wrap-class="scrollbar-wrapper">
                        <el-menu :default-active="activeMenu"
                                 :collapse="isCollapse"
                                 :background-color="variables.menuBg"
                                 :text-color="variables.menuText"
                                 :unique-opened="false"
                                 :active-text-color="variables.menuActiveText"
                                 :collapse-transition="false"
                                 mode="vertical">
                            <sidebar-item v-for="(items,index) in navMenuList" :key="index" :item="items"></sidebar-item>
                        </el-menu>
                    </el-scrollbar>
                </el-aside>
                <el-container>
                    <el-header>
                        <div class="header-menu">
                            <el-button @@click="toggleSideBar" icon="el-icon-s-fold" circle></el-button>
                        </div>
                        <div class="header-breadcrumb">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                                <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
                                <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                                <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                        <div class="header-logout">
                            <el-tooltip class="item" effect="dark" content="退出登录" placement="left">
                                <el-button icon="el-icon-circle-close" circle></el-button>
                            </el-tooltip>
                        </div>
                    </el-header>
                    <el-main>
                        <div class="ifram-wrapper">
                            <iframe :src="pageSrc"></iframe>
                        </div>
                    </el-main>
                </el-container>
            </el-container>
        </div>
    </div>
</body>
</html>
<!--lib-->
<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/element-ui_2.13.2/element.js"></script>
<script src="~/lib/axios/axios.min.js"></script>
<script src="~/lib/vuex/vuex.js"></script>
<!--js-->
<script src="~/js/Admin/axios.js"></script>
<script src="~/js/Admin/store.js"></script>
<script src="~/js/Admin/Pages/Components/Components.js"></script>
<script src="~/js/Admin/Pages/Index/Index.js"></script>
