@page

@model Senparc.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "管理员后台首页";
    Layout = "_Layout_Vue";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
<div>
    <h2>首页</h2>
</div>
@section scripts{
    <script src="~/js/Admin/Pages/Index/Index.js"></script>
}