@page
@model Senparc.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "管理员后台首页";
}

@*<p>
        警告：当前后台页面模板为商业授权模板，请勿用于系统发布，盛派将提供开源免费的后台模板，请留意更新。
    </p>*@

<p>
    当前服务器时间：<span id="serverTime">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span> |
    页面执行时间：@((Model.PageEndTime - Model.PageStartTime).TotalSeconds.ToString())秒
    UI 模板地址 ：https://github.com/ColorlibHQ/gentelella
</p>
@*<p>
            系统启动时间：@Senparc.Scf.Core.Config.SiteConfig.ApplicationStartTime
            | Structure启动时间：@StructureMapControllerFactory.StrcutureMapStartupTime 秒
            | WRUFL启动时间：@Senparc.Utility.WurflUtility.WurflStartupTime 秒，状态：@Senparc.Utility.WurflUtility.RegisterState
    </p>*@
