################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
bin/
obj/
.pdb
.user
.vscode/
/src/Senparc.Web/logs/log4net/logs_20181130
/src/Senparc.Web/wwwroot/bower_components
/src/Senparc.Web/logs/log4net/logs_20181201
