@model Senparc.Areas.User.Models.VD.Home_IndexVD
@{
    ViewData["Title"] = "管理后台首页";
}
@section scripts{
 
}
<div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="panel">
            <div class="panel-body">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="panel">
            <div class="panel-body">
                <canvas id="endings"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="panel">
            <div class="panel-body">
                <canvas id="cellCountChart"></canvas>
            </div>
        </div>
    </div>

</div>
@*}*@
<div class="row hidden">
    <div class="panel">
        <div class="panel-body">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
        </div>
    </div>
</div>

