@model Senparc.Areas.User.Models.VD.Home_LoginVD
@{
    ViewBag.Title = "登录界面";
    Layout = "~/Areas/User/Views/Shared/_LoginLayout.cshtml";
}
    <!-- START panel-->
    <div class="panel panel-flat">
        <div class="panel-heading text-center bg-white">
            <a href="http://www.senparc.com" title="苏州盛派网络科技有限公司">
                <img class="block-center img-rounded wd-sm" src="~/images/User/Avatar/SCF.png" alt="苏州盛派网络科技有限公司" />
            </a>
        </div>
        <div class="panel-body bt">
            <p class="text-center pv">用户登录</p>
            <div class="text-danger">
                <span asp-validation-for="UserName"></span>
                <span asp-validation-for="Password"></span>
            </div>
            <form class="mb-lg" role="form" asp-action="Login" asp-controller="Home" data-parsley-validate="" novalidate="">
                @if (!Model.RememberMe)
                {
                    <input type="text" name="oldUserName" style="position:absolute;left:-9999px;" />
                    <input type="password" name="oldPsd" style="position:absolute;left:-9999px;" />
                }
                <div class="form-group has-feedback">
                    <input class="form-control" asp-for="UserName" type="text" data-parsley-error-message="请输入用户名或Email" placeholder="请输入用户名或Email" required>
                    <span class="fa fa-user form-control-feedback text-muted"></span>

                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" id="exampleInputPassword1" type="password" asp-for="Password" data-parsley-error-message="请输入密码" placeholder="请输入密码" required>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="RememberMe" @(Model.RememberMe == true ? "checked" : "")>
                            <span class="fa fa-check"></span>记住账号密码
                        </label>
                    </div>
                    @*<div class="pull-right">
                        <a class="text-muted link-unstyled"  asp-controller="Home" asp-action="Recover">忘记密码?</a>
                    </div>*@
                </div>
                <button class="btn btn-block btn-primary mt-lg" type="submit">登录</button>
            </form>
            <p class="pt-lg text-center">无账号?</p>
            <a class="btn btn-block btn-default" asp-controller="Home" asp-action="Register">立即注册</a>
        </div>
    </div>
    <!-- END panel-->
    














