@model Senparc.Areas.User.Models.VD.Home_RecoverVD
@{
    ViewBag.Title = "登录界面";
    Layout = "~/Areas/User/Views/Shared/_LoginLayout.cshtml";
}
<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-flat">
        <div class="panel-heading text-center bg-white">
            <a href="http://www.senparc.com" title="苏州盛派网络科技有限公司">
                <img class="block-center img-rounded wd-sm" src="~/images/User/Avatar/SCF.png" alt="苏州盛派网络科技有限公司" />
            </a>
        </div>
        <div class="panel-body bt">
            <p class="text-center pv">找回密码</p>
            <div class="text-danger">
                @*<span asp-validation-for="UserName"></span>
                <span asp-validation-for="Password"></span>*@
            </div>
            <form class="mb-lg" role="form" asp-action="Recover" asp-controller="Home" data-parsley-validate="" novalidate="">
                <p class="text-center text-sm">请填写您的邮件，以获取有关如何重置密码的说明。</p>
                <div class="form-group has-feedback">
                    <label class="text-muted" for="resetInputEmail1">电子邮件</label>
                    <input class="form-control" id="resetInputEmail1" data-parsley-required-message="请输入电子邮件" data-parsley-type="email"  type="email" placeholder="请输入电子邮件" autocomplete="off">
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <button class="btn btn-block btn-primary mt-lg" type="submit">确认重置</button>
            </form>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span>@DateTime.Now.Year</span>
        <span>-</span>
        <a href="http://www.senparc.com" title="苏州盛派网络科技有限公司">苏州盛派网络科技有限公司</a>
    </div>
</div>














