@model Senparc.Areas.User.Models.VD.Home_RegisterVD
@{
    Layout = "~/Areas/User/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "注册页面";
}
@section scripts{
    <environment include="Development">
        <script src="~/js/User/Home/Register.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/Home/Register.minjs"></script>
    </environment>
    <script>
        $(function () {
            register.createCode('@Model.QrUrl');
        });
    </script>
}
<img src="~/images/User/Avatar/SCF.png" class="hidden" id="NenuCharLogo" />
<!-- START panel-->
<div class="panel panel-flat">
    <div class="panel-heading text-center">
        <a href="http://www.senparc.com" title="苏州盛派网络科技有限公司">
            <img class="block-center img-rounded wd-sm" src="~/images/User/Avatar/SCF.png" alt="苏州盛派网络科技有限公司" />
        </a>
    </div>
    <div class="panel-body bt">
        <p class="text-center">用户注册</p>
        <form class="mb-lg" role="form" asp-action="Register" asp-controller="Home" id="registerForm" data-parsley-validate="" novalidate="">
            <input type="text" name="oldUserName" style="position:absolute;left:-9999px;" />
            <input type="password" name="oldPsd" style="position:absolute;left:-9999px;" />
            <input type="hidden" asp-for="SmsToken" />
            <input type="hidden" asp-for="LastSeconds" />
            <input type="hidden" asp-for="RegGuid" />
            <input type="hidden" asp-for="QrUrl" />
            <div class="form-group has-feedback mb-sm">
                <label class="text-muted">用户名</label>
                <input class="form-control" asp-for="UserName" type="text" data-parsley-required-message="请输入用户名" placeholder="请输入用户名" autocomplete="off" required>
                <span class="fa fa-user form-control-feedback text-muted"></span>
                <span class="help-block text-sm">只有小写字母, 数字, 下划线</span>
                <div class="text-danger">
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group has-feedback mb-sm">
                <label class="text-muted">电子邮件</label>
                <input class="form-control" asp-for="Email" type="email" data-parsley-required-message="请输入电子邮件" data-parsley-type="email" placeholder="请输入电子邮件" autocomplete="off" required>
                <span class="fa fa-envelope form-control-feedback text-muted"></span>
                <div class="text-danger">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group has-feedback mb-sm">
                <label class="text-muted" for="signupInputPassword1">密码</label>
                <input class="form-control" id="signupInputPassword1" asp-for="Password" type="password" data-parsley-required-message="请输入密码" placeholder="请输入密码" autocomplete="off" required>
                <span class="fa fa-lock form-control-feedback text-muted"></span>
                <div class="text-danger">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group has-feedback mb-sm">
                <label class="text-muted" for="signupInputRePassword1">确认密码</label>
                <input class="form-control" id="signupInputRePassword1" asp-for="RePassword" type="password" data-parsley-required-message="请再次输入密码" placeholder="确认密码" autocomplete="off" required data-parsley-equalto="#signupInputPassword1">
                <span class="fa fa-lock form-control-feedback text-muted"></span>
                <div class="text-danger">
                    <span asp-validation-for="RePassword"></span>
                </div>
            </div>
            <div class="form-group has-feedback mb-sm">
                <label class="text-muted">手机号</label>
                <input class="form-control" asp-for="Phone"
                       required
                       data-parsley-required-message="请输入手机号"
                       minlength="11" data-parsley-minlength="11"
                       data-parsley-minlength-message="请输入正确的手机号"
                       maxlength="11" data-parsley-maxlength="11"
                       data-parsley-maxlength-message="请输入正确的手机号"
                       data-parsley-type="integer"
                       data-parsley-type-message="请输入正确的手机号"
                       type="number"
                       placeholder="请输入手机号" autocomplete="off">
                <span class="fa fa-phone form-control-feedback text-muted"></span>
                <div class="text-danger">
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="form-group mb-sm">
                <label class="text-muted">短信验证码</label>
                <div class="input-group">
                    <input class="form-control" asp-for="PhoneCheck" type="number" data-parsley-required-message="请输入短信验证码" placeholder="请输入短信验证码" autocomplete="off" required>
                    <div class="input-group-btn" style="vertical-align: top;">
                        <button type="button" id="sendSmsBtn" class="btn btn-default yanzhengAction" onclick="register.sendMsg(this)">发送验证码</button>
                        <button type="button" disabled class="btn btn-default disabled miao hidden">剩余 <span class="text-danger" id="lastSendSmsSeconds">60</span> '</button>
                    </div>
                </div>
                <div class="text-danger">
                    <span asp-validation-for="PhoneCheck"></span>
                </div>
            </div>
            <div class="form-group mb-sm">
                <div class="col-sm-6 br">
                    <label class="text-muted">微信验证码</label>
                    <div id="regretCode"></div>
                </div>
                <div class="col-sm-6">
                    <label class="text-muted">输入微信验证码</label>
                    <input class="form-control mv-lg" asp-for="QrCodeCheck" type="number" data-parsley-required-message="请输入微信验证码" placeholder="请输入微信验证码" autocomplete="off" required>
                    <div class="text-danger">
                        <span asp-validation-for="QrCodeCheck"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            @*<div class="form-group m-lg">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" required name="agreed" checked="checked" data-parsley-required-message="请您阅读并同意用户协议">
                            <span class="fa fa-check"></span>我同意 <a href="#" target="_blank">用户协议</a>
                        </label>
                    </div>
                </div>*@
            <button class="btn btn-block btn-primary mt-lg" type="submit">免费注册</button>
        </form>
        <p class="text-center">已有账号?</p>
        <a class="btn btn-block btn-default" asp-action="Login" asp-controller="Home">登录</a>
    </div>
</div>
<!-- END panel-->
