* {
    padding: 0;
    margin: 0;
}

[v-cloak] {
    display: none;
}

body {
    margin: 0;
}

img {
    width: 100%;
}


#app {
    height: 100%;
}

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

/*侧边栏*/
.el-aside {
    height: 100vh;
    transition: width 0.28s;
    width: 240px;
    background-color: #304156;
}
    .el-aside .head-log {
        padding: 5px 15px;
    }

    .el-menu {
        border: none;
    }
/*顶部*/
.el-header {
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,0.08);
}

.header-breadcrumb {
    height: 100%;
    float: left;
}

.el-breadcrumb {
    line-height: 60px;
}

.el-breadcrumb__inner, .el-breadcrumb__inner a {
    font-weight: 400 !important;
    color: #303133;
}

.el-breadcrumb__inner {
    color: #97a8be !important;
}

.header-menu {
    height: 100%;
    float: left;
    line-height: 60px;
    margin-right: 10px
}

.header-logout {
    height: 100%;
    float: right;
    line-height: 60px;
}

.ifram-wrapper {
    border: 0;
    height: 100%;
}

    .ifram-wrapper iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }
