@page
@model IndexModel
@{
    ViewData["Title"] = $" 首页";
}
<div class="">
    <div class="index-logo">
        <img src="https://camo.githubusercontent.com/4b973e4e46e4f9c7f056887271261fec05a66d15/68747470733a2f2f77656978696e2e73656e706172632e636f6d2f696d616765732f5343462f6c6f676f2e706e67" alt="Alternate Text" />
    </div>
    <h2 class="index-simple-tip text-center">一套用于构造基础项目的框架</h2>
    <div class="row  index-show-row">
        <button class="start-btn">
            立即开始
        </button>
    </div>
    <div class="row mt-8r">
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">易用性</h3>
            <div class="index-special-point">
                <p>Webpack 是当下最热门的前端资源模块化管理和打包工具。它可以将许多松散的模块按照依赖和规则打包成符合生产环境部署的前端资源。</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">易用性</h3>
            <div class="index-special-point">
                <p>Webpack 是当下最热门的前端资源模块化管理和打包工具。它可以将许多松散的模块按照依赖和规则打包成符合生产环境部署的前端资源。</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">易用性</h3>
            <div class="index-special-point">
                <p>Webpack 是当下最热门的前端资源模块化管理和打包工具。它可以将许多松散的模块按照依赖和规则打包成符合生产环境部署的前端资源。</p>
            </div>
        </div>
    </div>
    <hr class="mt-8r" />
    <article>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="https://angular.cn/generated/images/marketing/home/speed-performance.svg" class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">横跨所有平台</div>
                <p class="text-body">学会构建应用，然后把这些代码和能力复用在多种多种不同平台的应用上 —— Web、移动 Web、移动应用、原生应用和桌面原生应用。</p>
            </div>
        </div>
        <hr>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">速度与性能</div>
                <p class="text-body">通过 Web Worker 和服务端渲染，达到在如今(以及未来）的 Web 平台上所能达到的最高速度。</p>
                <p class="text-body">通过 Web Worker 和服务端渲染，达到在如今(以及未来）的 Web 平台上所能达到的最高速度。</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="https://angular.cn/generated/images/marketing/home/speed-performance.svg" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
        <hr>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="https://angular.cn/generated/images/marketing/home/speed-performance.svg" class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">横跨所有平台</div>
                <p class="text-body">学会构建应用，然后把这些代码和能力复用在多种多种不同平台的应用上 —— Web、移动 Web、移动应用、原生应用和桌面原生应用。</p>
            </div>
        </div>
        <div class="row  index-show-row">
            <span class="start-btn">
                立即开始
            </span>
        </div>
    </article>
</div>
