@page
@model IndexModel
@{
    ViewData["Title"] = $" 首页";
}
<div class="">
    <div class="index-logo">
        <img src="~/images/logo-index.png" />
    </div>
    <h2 class="index-simple-tip text-center">一套用于构造基础项目的.NET框架</h2>
    <div class="row start-now">
        <a href="https://github.com/SenparcCoreFramework/SCF" target="_blank" class="start-btn">
            立即开始
        </a>
    </div>
    <div class="row mt-6r">
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">快速搭建</h3>
            <div class="index-special-point">
                <p>
                    安装过程可以选择极客型命令行安装方式，或全自动一键完成。
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">模块化</h3>
            <div class="index-special-point">
                <p>
                    SCF 支持“即插即用”的模块化开发模式，您可以面向模块（或领域）进行开发，然后使用 SCF 对模块进行一键集成。
                </p>
                <p> SCF 的扩展模块代号为 XSCF。</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">DDD模式</h3>
            <div class="index-special-point">
                <p>Webpack 是当下最热门的前端资源模块化管理和打包工具。它可以将许多松散的模块按照依赖和规则打包成符合生产环境部署的前端资源。</p>
            </div>
        </div>
    </div>
    <hr class="mt-6r" />
    <article>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="~/images/Index/creat-img1.png" class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">项目自动生成</div>
                <p class="text-body">学会构建应用，然后把这些代码和能力复用在多种多种不同平台的应用上 —— Web、移动 Web、移动应用、原生应用和桌面原生应用。</p>
            </div>
        </div>
        <hr>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">丰富的模块</div>
                <p class="text-body">通过 Web Worker 和服务端渲染，达到在如今(以及未来）的 Web 平台上所能达到的最高速度。</p>
                <p class="text-body">通过 Web Worker 和服务端渲染，达到在如今(以及未来）的 Web 平台上所能达到的最高速度。</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="~/images/Index/modules.png" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
        <hr>
        <div class="row index-show-row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="~/images/Index/moduleint.png" class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pr-5">
                <div class="text-headline">快捷的模块化开发和安装方法</div>
                <p class="text-body">学会构建应用，然后把这些代码和能力复用在多种多种不同平台的应用上 —— Web、移动 Web、移动应用、原生应用和桌面原生应用。</p>
            </div>
        </div>
        <div class="row start-now">
            <a href="https://github.com/SenparcCoreFramework/SCF" target="_blank" class="start-btn">
                立即开始
            </a>
        </div>
    </article>
</div>
