@page
@model IndexModel
@{
    ViewData["Title"] = $" 首页";
}

<div class="text-center">
    <h1 class="display-4">@Model.FullSystemConfig.SystemName</h1>
    <p>开源项目：<a href="https://github.com/SenparcCoreFramework/SCF">https://github.com/SenparcCoreFramework/SCF</a></p>
</div>
