@model Senparc.Areas.Admin.Models.VD.Log_WebLogListVD
@{
    ViewData["Title"] = "系统日志列表";
}
@section breadcrumbs{
    <li>
        @ViewData["Title"]
    </li>
}
@section HeaderContent{
}
@*@using (Html.ContentBox("系统日志列表",
    "<a href=\"#tab1\" class=\"default-tab\">列表</a>"))
{
@Html.GridView(Model.DateList, new { @class = "datatable" }, "没有日志", false,
                new GridViewItemTemplateModel<string>("日期", (z, i) => z, null),
                new GridViewItemTemplateModel<string>("查看", (z, i) => Html.ActionLink("查看详情", "WebLogDate", new { date = z }).ToString(), null)
   )
@Html.Raw(Html.PagerBar(Model.DateList, new PagerBarSettings { Url = Url.Action("WebLogList", new { pageIndex = "{0}" }) }))
}*@