@model Senparc.Areas.Admin.Models.VD.SystemConfig_IndexVD
@{
    ViewData["Title"] = "编辑系统配置";
}

@section breadcrumbs{
    <li>
        <a asp-action="Index" asp-controller="SystemConfig">系统配置列表</a>
    </li>
    <li>
        @ViewData["Title"]
    </li>
}
@section scripts
    {
    <link href="~/bower_components/select2/dist/css/select2.css" rel="stylesheet" />
    <script src="~/bower_components/select2/dist/js/select2.js"></script>
    <script src="~/bower_components/select2/dist/js/i18n/zh-CN.js"></script>
    <script>
        $("#select").select2({
            language: "zh-CN"
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="post">
            <input type="hidden" asp-for="NavSysName" />
            <div class="panel panel-default">
                <div class="panel-body">
                    <input class="form-control" type="hidden" asp-for="Id">
                    @*<fieldset>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Id</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="hidden" asp-for="Id">
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                            </div>
                        </fieldset>*@

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">系统名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" asp-for="SystemName">
                                <span asp-validation-for="SystemName" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">首页大标题</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="select" asp-for="IndexTitle" asp-items="@Model.ContentItems">
                                    <option value="0">请选择</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="保存" />
                </div>
            </div>
        </form>
    </div>
</div>
