@model Senparc.Areas.Admin.Models.VD.AdminUserInfo_EditVD
@{
    ViewData["Title"] = $"{(Model.IsEdit ? "编辑" : "新增")}管理员";
}


@section breadcrumbs{
    <li>
        <a asp-action="Index" asp-controller="AdminUserInfo">管理员管理</a>
    </li>
    <li>
        @ViewData["Title"]
    </li>
}
<!-- START row-->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal form-label-left" novalidate method="post">
                    <input type="hidden" asp-for="Id" />
                    <div style="position:absolute;left:-9999px">
                        <input name="old-userName" type="text" >
                        <input name="old-pwd" type="password">
                    </div>
                    @*<p>
                            For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                        </p>*@
                    @*<span class="section">Personal Info</span>*@
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            用户名 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="UserName" class="form-control col-md-7 col-xs-12" data-validate-length="1,20" placeholder="请输入用户名" required="required" type="text">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="password" class="control-label col-md-3">密码</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Password" type="password" name="password" data-validate-length="5,12" class="form-control col-md-7 col-xs-12" placeholder="请输入密码" required="required">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">再次确认密码</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" placeholder="请再次输入密码" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            备注
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="textarea" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:histroy.go(-1);" type="submit" class="btn btn-primary">取消</a>
                            <button id="send" type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
