body {
    margin: 0;
}

img {
    width: 100%;
}

#app {
    height: 100%;
}

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.sidebar-container {
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
    width: 210px !important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
}

.main-container {
    min-height: 100%;
    -webkit-transition: margin-left .28s;
    transition: margin-left .28s;
    margin-left: 210px;
    position: relative;
}
/*侧边栏*/
.el-aside {
    height: 100vh;
    background-color: #304156;
}

.el-menu {
    border: none;
}
/*顶部*/
.el-header {
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,0.08);
}

.header-breadcrumb {
    height: 100%;
    float: left;
}

.el-breadcrumb {
    line-height: 60px;
}

.el-breadcrumb__inner, .el-breadcrumb__inner a {
    font-weight: 400 !important;
    color: #303133;
}

.el-breadcrumb__inner {
    color: #97a8be !important;
}

.header-logout {
    height: 100%;
    float: right;
    line-height: 60px;
}
