@page
@model Senparc.ExtensionAreaTemplate.Areas.MyArea.Pages.About
@addTagHelper *, MyArea
@{
    ViewData["Title"] = "关于";
    Layout = "_XscfModuleLayout";
}
@section breadcrumbs{
    <li>@ViewData["Title"]</li>
}
@section subMenu{
    @Html.Partial("_MyAreaMenuPartial", Model)
    @*<partial name="_MyAreaMenuPartial" model="@Model" />*@
}

<p>@Model.XscfRegister.Description</p>

