@model Senparc.Areas.Admin.Models.VD.AdminUserInfo_EditVD
@{
    ViewData["Title"] = $"{(Model.IsEdit?"编辑":"新增")}管理员";
}


@section breadcrumbs{
    <li>
        <a asp-action="Index" asp-controller="AdminUserInfo">管理员管理</a>
    </li>
    <li>
        @ViewData["Title"]
    </li>
}
<!-- START row-->

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="post">
            <input type="hidden" asp-for="Id" />
            <div style="position:absolute;left:-9999px">
                <input name="old-userName" type="text">
                <input name="old-pwd" type="password">
            </div>
            <div class="panel panel-green">
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">用户名</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" asp-for="UserName">
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                            <div class="col-sm-4">
                                <code>
                                    必填
                                </code>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">密码</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="password" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="col-sm-4">
                                <code>
                                    注：新增必须填写密码，如果留空则不修改密码
                                </code>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">备注</label>
                            <div class="col-sm-6">
                                <textarea cols="6" rows="5" class="form-control" type="text" asp-for="Note"></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>

                            </div>
                            <div class="col-sm-4">
                                <code>
                                    其他信息
                                </code>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="保存" />
                </div>
            </div>
        </form>
    </div>
</div>
