@model Senparc.Areas.Admin.BaseAdminPageModel
<el-header>
    <img class="header-logo" src="~/images/Shared/SCFLogo/logo_70x55.png" />
    <ul class="header-operations clearfix">
        <li>
            <a title="退出登录" class="link-unstyle" style="color:#fff" asp-page="/Login" asp-page-handler="Logout">
                退出登录
            </a>
        </li>
    </ul>
</el-header>
