@model Senparc.Areas.Admin.BaseAdminPageModel

<el-aside class="menu" width="250px">
    <el-menu class="el-menu-vertical-demo" @@open="handleOpen" @@close="handleClose"
             text-color="#333"
             active-text-color="#6f17e3"
             default-active="@Html.CurrentMenu("AdminUserInfo")"
             :collapse="isCollapse">
        <!--多级菜单-->
        @*<el-submenu index="1">
                <template slot="title">

                    <i class="el-icon-location"></i>
                    <span>导航一</span>
                </template>
                <el-menu-item-group>
                    <template slot="title">
                        分组一
                    </template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                </el-menu-item-group>
            </el-submenu>*@
        <el-menu-item index="@Html.CurrentMenu("Home")">
            <a asp-page="/Index">
                <i class="el-icon-menu"></i>
                <span slot="title">
                    首页
                </span>
            </a>
        </el-menu-item>
        <el-menu-item index="@Html.CurrentMenu("AdminUserInfo")">
            <a asp-page="/AdminUserInfo/Index" class="link-unstyle">
                <i class="el-icon-menu"></i>
                <span slot="title">
                    管理员管理
                </span>
            </a>
        </el-menu-item>
    </el-menu>
</el-aside>

