

/*分页*/
.pagination-container {
    background: #fff;
    padding: 32px 16px;
}

    .pagination-container.hidden {
        display: none;
    }

/*顶部筛选组*/
.filter-container {
    padding-bottom: 10px;
}

    .filter-container .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }

.el-pagination {
    text-align: center;
}
