@page
@model MyArea.Areas.MyArea.Pages.MyHomePage
@addTagHelper *, MyArea
@{
    ViewData["Title"] = "首页";
    Layout = "_XscfModuleLayout";
}
@section breadcrumbs{
    <li>@ViewData["Title"]</li>
}
@section subMenu{
    @Html.Partial("_MyAreaMenuPartial", Model)
}

<p>Hi! @SystemTime.Now</p>
<p>@Model.XscfModuleDto.MenuName</p>