@page
@model Senparc.Areas.Admin.Areas.Admin.Pages.XscfModuleStartModel
@{
    ViewData["Title"] = null; Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/XscfModule/XscfModule.css" rel="stylesheet" />
}
<div id="app" v-cloak>
    <el-container>
        <el-header>
            <span class="start-title">微信管理 模块 v0.2.2-beta1</span>
            <span class="start-delete">
                <el-popconfirm placement="top" title="确认删除此模块吗？" @@on-confirm="handleDelete()">
                    <el-button size="mini" type="danger" slot="reference">删除</el-button>
                </el-popconfirm>
            </span>
        </el-header>
        <el-container>
            <el-aside>
                <div class="start-des">
                    <ul>
                        <li>Senparc.Xscf.WeixinManager</li>
                        <li>v0.2.2-beta1</li>
                        <li>发现新版本:v0.2.3  <el-button size="mini" @@click="updataVersion">立即更新</el-button></li>
                        <li>唯一编号:025F-584A-248A-512F</li>
                        <li>
                            开放
                            <el-button size="mini" @@click="updataVersion">开启</el-button>
                            <el-button size="mini" @@click="updataVersion">关闭</el-button>
                            <span class="red"><i class="fa fa-exclamation-triangle"></i> 未开启的模块无法执行功能</span>
                        </li>
                        <li>
                            特性：
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">
                                    {{tooltip[0]}}
                                    <el-button size="mini" @@click="seeMore=!seeMore">查看</el-button>
                                    <br />
                                    <div v-if="seeMore">
                                        <el-table :data="tableData"
                                                  style="width: 100%">
                                            <el-table-column label="名称">
                                                <template slot-scope="scope">
                                                    {{scope.row.key.name}}
                                                </template>
                                            </el-table-column>
                                            <el-table-column label="活动状态/后台">
                                                <template slot-scope="scope">
                                                    {{scope.row.value.isAlive}}/
                                                    {{scope.row.value.isAlive ? value.isBackground : false}}
                                                </template>
                                            </el-table-column>
                                            <el-table-column label="线程状态">
                                                <template slot-scope="scope">
                                                    {{scope.row.value.isAlive ? formaTableTime(scope.row.value.threadState): "-"}}
                                                </template>
                                            </el-table-column>
                                            <el-table-column label="最近故事">
                                                <template slot-scope="scope">
                                                    {{scope.row.key.storyHtml}}
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                </div>
                                <i class="el-icon-share"></i>
                            </el-tooltip>
                        </li>
                        <li>
                            介绍：
                            <p>SCF模块介绍SCF模块介绍SCF模块介绍SCF模块介绍 </p>
                        </li>
                    </ul>
                </div>
                @*更新记录*@
                <div class="start-log">
                    <el-collapse>
                        <el-collapse-item title="更新记录" name="1">
                            <el-table :data="modifyLog"
                                      stripe
                                      style="width: 100%">
                                <el-table-column label="#">
                                    <template slot-scope="scope">
                                        {{scope.$index+1}}
                                    </template>
                                </el-table-column>
                                <el-table-column label="更新记录">
                                    <template slot-scope="scope">
                                        {{scope.row.log}}
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </el-aside>
            <el-main>
                <p>功能列表</p>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>进入 微信管理 首页</span>
                        <el-button style="float: right; padding: 3px 0" type="text">进入首页</el-button>
                        <p>地址：https://localhost:44311/Admin/index</p>
                    </div>
                    <template>
                        <div class="item-container">
                            <el-collapse>
                                <el-collapse-item title="页面透视" name="2">
                                    <el-table :data="modifyLog"
                                              stripe
                                              style="width: 100%">
                                        <el-table-column label="#">
                                            <template slot-scope="scope">
                                                {{scope.$index+1}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="更新记录">
                                            <template slot-scope="scope">
                                                {{scope.row.log}}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                        <p>说明：当前模块配备了可互动操作的UI界面，因此您可以看到这个入口。</p>
                    </template>
                </el-card>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>生成Sample</span>
                        <el-button style="float: right; padding: 3px 0" type="text">执行</el-button>
                        <p>生成Sample 下载地址：https://localhost:44311/Admin/index</p>
                    </div>
                    <template>
                        <div class="item-container">
                            <el-collapse>
                                <el-collapse-item title="参数透视" name="2">
                                    <el-table :data="modifyLog"
                                              stripe
                                              style="width: 100%">
                                        <el-table-column label="#">
                                            <template slot-scope="scope">
                                                {{scope.$index+1}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="更新记录">
                                            <template slot-scope="scope">
                                                {{scope.row.log}}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </template>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>

@section scripts{

    <script src="~/js/Admin/Pages/XscfModule/StartNew.js"></script>
}