@model Senparc.Core.Models.VD.Error_ExceptionVD
@{
    Layout = "~/Areas/WX/Views/Shared/_Empty.cshtml";
     ViewBag.Title = "发生错误";
}
@section scripts{
}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">发生错误</h2>
        <p class="weui-msg__desc">@Model.Message</p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright © @DateTime.Now.Year SCF.com</p>
        </div>
    </div>
</div>
