@model Senparc.Core.Models.VD.SuccessVD
@{
    Layout = "~/Areas/WX/Views/Shared/_Empty.cshtml";
    ViewBag.Title = "操作成功";
}
@section scripts{
}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作成功</h2>
        <p class="weui-msg__desc"></p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
           
        </div>
    </div>
</div>