@page
@model Senparc.ExtensionAreaTemplate.Areas.MyArea.Pages.MyHomePage
@{
    ViewData["Title"] = "首页";
    //Layout = "_XscfModuleLayout";
}

<p>Hi! @SystemTime.Now</p>
<p>@Model.XscfModuleDto.MenuName</p>