@page
@model Senparc.ExtensionAreaTemplate.Areas.MyApp.Pages.MyHomePage
@{
    ViewData["Title"] = "首页";
}

<p>@Model.XscfModuleDto.MenuName - @SystemTime.Now</p>
<p>@Model.XscfModuleDto.Description</p>
<div style="margin:80px auto;">
    <a asp-page-handler="Brighten" title="变亮" class="btn-sm btn btn-success">变亮</a>
</div>