@page
@model Senparc.ExtensionAreaTemplate.Areas.MyApp.Pages.MyHomePage
@{
    ViewData["Title"] = "首页";
}

<p>@Model.XscfModuleDto.MenuName - @SystemTime.Now</p>
<p>@Model.XscfModuleDto.Description</p>
<p>EnsureCreated：@ViewData["EnsureCreated"]</p>
<p>ViewData["Obj"]：@ViewData["Obj"]</p>
<div style="margin:100px auto; width:50%; color">
    <a asp-page-handler="Brighten" title="变亮" class="btn-sm btn btn-success">变亮</a>
</div>